<%@ page import="gshop.catalogcache.CCCategory; gshop.product.Category" %>

<g:each in="${categories}" var="category">
	<shop:topCategory category="${category}" selectedCategory="${selectedCategory}"/>
</g:each>