<div id="admin-menu">
    <g:message code="admin.menu.options" default="Administration options"/>
    <ul>
        <li><g:link controller="order" action="overview">Order Management</g:link></li>
    </ul>
</div>