body {
	height: 100%;
	max-width: 100%;
	margin: 0;
	overflow: auto;
}

#body-content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#page-body {
	background: #fff;
	height: 100%;
	width: 1200px;
	padding-top: 10px;
	border: 1px solid #dedede;
	overflow: hidden;
}

#content {
}

#left-panel {
	float: left;
}

#right-panel {
	float: left;
	width: 730px;
}

