#admin-navigation ul {
	overflow: auto;
	list-style-type: none;
}

#admin-navigation ul li {
	height: 25px;
	float: left;
	margin-right: 0px;
	border-right: 1px solid #aaa;
	padding: 0 20px;
}

#admin-navigation ul li:last-child {
	border-right: none;
}

#admin-navigation ul li a {
	text-decoration: none;
	color: #ccc;
	font: 25px/1 Helvetica, Verdana, sans-serif;
	text-transform: uppercase;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#admin-navigation ul li a:hover {
	color: #666;
}

#admin-navigation ul li.active a {
	font-weight: bold;
	color: #333;
}

#progress-bar {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	border: 1px #000000;
}