.basket-dialog {
	overflow: hidden;
}

.dialog-panels {
	/*overflow-x: hidden;*/
	position: relative;
}

/*USER DETAILS PANEL*/

.user-details-panel .header {
	position: relative;
	height: 25px;
}

.basket-dialog h2 {
	font-size: 18pt;
}

#paymentMethod {
	padding-top: 10px;
}

.summary-panel #billing-address {
	margin-bottom: 70px;
}

.user-data-form textarea {
	height: 20px;
	width: 365px;
}

.user-details-panel {
	vertical-align: top;
	padding-top: 10px;
}

.basket-dialog-panel {
	float: left;
	margin-right: 10px;
}

.basket-item-table {
	border-collapse: collapse;
	margin-left: 2px;
	position: relative;
	width: 98%;
}

.basket-item-table th {
	font-size: 18pt;
}

.basket-item-table .product {
	padding-left: 10px;
}

.basket-item-table .product .code {
	font-style: italic;
	font-size: 8pt;
}

/* PRODUCT PANEL COLUMNS */

.basket-item-table {
	table-layout: auto;
}

.basket-item-table .thumbnail {
	width: 70px;
}

.basket-item-table .product {
	width: 180px;
}

.basket-item-table .amount {
	width: 80px;
}

.basket-item-amount {
	position: relative;
	left: -2px;
	top: 0px;
	font-size: 10pt;
}

.basket-item-table .pricePerPiece {
	width: 20px;
}

.basket-item-table .tax {
	width: 50px;
}

.basket-item-table .discount {
	width: 50px;
}

.basket-item-table .sum {
	width: 50px;
}

.basket-item-table .delete {
	width: 20px;
}

/* END PRODUCT PANEL COLUMNS */

.basket-item-table td {
	border: 1px solid transparent;
	border-bottom: 1px solid #efefef;
	text-align: center;
	vertical-align: middle;
	font-size: 10pt;
}

.basket-item-table tr, .row {
	height: 20px;
	border: 1px solid transparent;

}

.basket-item-table tr td {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

.row-hover td {
	border: 1px solid #efefef;
	border-width: 1px 0;
}

.row-hover td:first-child {
	border-width: 1px 0 1px 1px;
}

.row-hover td:last-child {
	border-width: 1px 1px 1px 0;
}

.row-hover {
	border: 1px solid #efefef;
	background: #fafafa;
	border-radius: 5px;

}

.basket-item-table tr td.thumbnail {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	-khtml-border-radius: 0;
	border-radius: 0;
}

.basket-item-table .last td {
	border: none;

}

.basket-item-table .thumbnail img {
	height: 58px;
}

.basket-item-table tr:hover td.thumbnail {
	border: 1px solid #dedede;
	background: #fff;
	border-width: 0 1px 0 1px;

}

.basket-item-table .ui-button {
	background: url(../images/delete.png) no-repeat top left;
	border: none;
	height: 20px;
	width: 20px;
}

.basket-item-table .up {
	background: url(../images/add.png) no-repeat top left;
	border: none;
	height: 20px;
	width: 20px;
}

.basket-item-table .down {
	background: url(../images/remove.png) no-repeat top left;
	border: none;
	height: 20px;
	width: 20px;
}

.main-section {
	font-weight: bold;
	font-size: 10pt;
	margin: 5px 0px;
}

.form-field-label {
	font-size: 8pt;
	padding: 0 5px 0 0;
	width: 100px;
}

.basket-price-display {
	float: right;
	margin-right: 50px;
}

.basket-price-display .name {
}

.basket-price-display .value {
}

.basket-price-display .applied-discount td {
	border-bottom: 1px solid #000000;
}

/* PAYMENT and SHIPMENT */
.payment-method-selection-wrapper {
	margin-top: 10px;
}

.shipment-method-selection, .payment-method-selection {
	padding: 10px 20px;
}

.shipment-method-selection input, .payment-method-selection input {
	margin: 5px;
}

.deliveryAddress, .saveData {
	height: 20pt;
}

/* end of PAYMENT and SHIPMENT */
.basket-dialog-panels td .deliveryAddress td, .basket-dialog-panels td .saveData td {
	vertical-align: bottom;
}

input[name="billing-number"], input[name="delivery-number"] {
	width: 35px;
}

#paymentMethod {
	height: 300px;
	width: 100%;
}

/*SUMMARY PANEL*/

.summary-panel td, .summary-panel td td {
	vertical-align: top;
}

.summary-panel #order-items tr {
	height: 20px;
}

.summary-panel #order-items .name {
	width: 200px;
}

.summary-panel #total-price tr {
	line-height: 14pt;
}

.summary-panel #price-with-vat td {
	border-top: 1px solid #EFEFEF;
}

.summary-panel #price-with-vat td.name {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
}

.summary-panel #delivery-address {
	vertical-align: top;
}

.summary-panel #delivery-address tr {
	height: 10px;
}

.summary-panel .title {
	font-size: 12pt;
	height: 16pt;
}

.summary-panel #total-price .name {
	padding-left: 15px;
	font-size: 10pt;
}

.price-with-vat .name {
	font-size: 14pt;
}

.summary-panel .address {
	vertical-align: top;
	padding-left: 100px;
}

.summary-panel .line td {
	border-top: 1px solid #EFEFEF;
}

.summary-panel .value {
	position: relative;
	height: 10pt;
	text-transform: lowercase;
}

.summary-panel .value td {
	color: #505050;
	font-size: 8pt;
	margin-left: 15px;
	margin-top: -7px;
	position: absolute;
}

.summary-panel .price {
	font-size: 10pt;
	font-weight: bold;
	vertical-align: top;
	text-align: right;
	color: #666;
}

.save-data {
	float: right;
}

.save-data input {
	margin-left: 5px;
	position: relative;
	top: 3px;
}

/*END OF SUMMARY PANEL*/

/*SINGIN PANEL*/

.signInOption, .registerOption {
	margin: 5px 10px 0 0;
	float: left;
}

.singin-panel h2 {
	padding-top: 9px;
	margin-bottom: 15px;
}

.singin-panel table {
	margin: 0 0 20px 25px;
}

/*END OF SINGIN PANEL*/

/* ORDER STATUS */

#placeOrderStatus {
	padding-top: 150px;
}

#placeOrderStatus h2 {
	text-align: center;
	padding-top: 25px;
}

/* END OF ORDER STATUS */