#category-nav {
	width: 220px;
	float: left;
}

.category-tile-view table {
	margin-left: auto;
	margin-right: auto;
}

.category-header {
	height: auto;
	padding: 10px;
}

.category-header a {
	font-size: 17pt;
	line-height: 17pt;
	display: block;
	color: #6a6969;
}

.subcategory a {
	color: #929292;
	font-weight: bold;
	font-size: 13pt;
	line-height: 12pt;
}

.subcategory a:hover {
}

.category ul {
	list-style: none;
}

.category-tile-view  .title {
	font-family: Verdana, Geneva, sans-serif;
}

.category-tile {
	padding: 7px;
	/*border: solid 1px #cccccc;*/
	background-color: white;
	width: 112px;
	height: 180px;
	position: relative;
	padding: 1px 0px 0px 1px;
	border: 1px solid transparent;
}

.category-tile:hover {
}

.category-tile a {
	text-decoration: none;
}

.category-tile .title {
	text-align: center;
	width: 112px;
	font-weight: bold;
	font-variant: small-caps;
	padding-bottom: 15px;
	padding-top: 20px;
	height: 30px;
}

.category-tile .title a {
	text-decoration: none;
	font-size: 16px;
}

.scroll-wrapper {
	border-bottom: 1px solid #EDEDED;
	margin-bottom: 15px;
	height: 290px;
}

body .ui-dialog .ui-dialog-content {
	background-color: #fff;
}

.product-title {
	width: 280px;
	font-size: 9pt;
	padding-left: 10px;
}

.product-code {
	font-style: italic;
	padding-left: 10px;
}

.buttons {
	float: left;
	display: block;
}

.up, .down {
	display: block;
}

html .ui-state-default {
	/*background: none;*/
}

.remove {
	height: 20px;
}

#base {
	font-weight: bold;
	font-size: 8pt;
}

#vatPercent {
	font-weight: bold;
	font-size: 8pt;
}

#vatAmount {
	font-weight: bold;
	font-size: 8pt;
}

#baseWithVat {
	height: 15pt;
	font-weight: bold;
}

#baseWithVat td, #baseWithVat .value {
	line-height: 24pt;
	font-size: 12pt;
}

#category-nav .ui-widget-content {
	border: none;
}