body {
	height: 100%;
	max-width: 100%;
	margin: 0;
	overflow: auto;
}

#body-content {
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
}

#navigation {
	float: left;
	width: 220px;
	z-index: 0;
}

#toolbar {
	width: 950px;
}

#page-body {
	background: #fff;
	height: 100%;
	width: 950px;
	padding-top: 10px;
	border: 1px solid #dedede;
	overflow: hidden;
}

#left-panel {
	float: left;
	position: relative;
	top: 125px;
	left: 0px;
	width: 220px;
}

#right-panel {
	float: right;
	width: 180px;
	/*background: #FFFFFF;*/
}

#top-panel {
	z-index: 99;
	height: 137px;
	width: 950px;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#top-panel-top {
	height: 105px;
	padding-top: 10px;
	z-index: 9999;
	position: relative;
}

#top-panel #logo {
	float: left;
	margin: 0px;
}

#top-panel #logo img {
	border: none;
}

#top-panel #logo a {
	width: 500px;
	height: 90px;
	display: block;
}

#top-panel #basket {
	float: right;
}

#content {
	width: 710px;
	float: right;
	margin-right: 20px;
}

#my-content {
	margin: 0 20px 20px;
}

#breadcrumb-container {
	/*float: right;*/
	padding: 7px 15px;
	width: 700px;
	height: 100%;
}

.ui-widget-header {
	background: none;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11pt;
	font-weight: normal;
}

.ui-widget-header .ui-button {
	border: none;
}

.ui-widget-header .ui-state-hover {
	background: none;
	border: none;
}

.ui-widget-header  .ui-button:hover {
}

.ui-icon-closethick {
	background-position: 0 0;
}

#my-navigation a {
	color: #FFFFFF;
	font-size: 15pt;
	padding-right: 3pt;
}

#my-navigation {
	overflow: hidden;
	float: right;
	width: 730px;
	text-align: right;
}

#my-navigation-right {
	float: right;
	width: 48%;
	margin-right: 10px;
}


