#topnav a:hover {
	text-decoration: underline;
}

#topnav a img {
	border-width: 0;
}

#topnav {
	font-size: 11px;
	text-align: left;
	height: 35px;
	border-width: 0 1px;
	width: 950px;
	position: relative;
	top: 0px;
}

#topnav a.menu-open {
	background: #ddeef6 !important;
	color: #666 !important;
	outline: none;
}

#authentication-panel {
	display: block;
	height: 26px;
	left: 0;
	padding: 0;
	width: 220px;
	z-index: 999;
	float: left;
	position: absolute;
}

#authentication-panel a {
	color: #fff;
	text-decoration: none;
}

#authentication-panel a:hover {
	text-decoration: none;
}

#signin-form {
	z-index: 100;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border: 1px none transparent;
	color: #FFFFFF;
	font-size: 11px;
	height: 90px;
	left: 0;
	position: absolute;
	text-align: left;
	top: -88px;
	width: 220px;
	overflow: hidden;
}

#authentication-panel .ui-button-text-only .ui-button-text {
	padding: 0;
}

#signin-panel #signin-info-panel {
	z-index: 102;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	width: 220px;
	height: 22px;
	position: absolute;
	top: 0px;
	left: 0;
	text-align: left;
}

#signin-form #signin-form-hide-link {
	height: 20px;
	width: 90px;
	float: right;
	display: block;
	position: relative;
	top: 8px;
}

#signin-form td {
	height: 10px;
}

.authenticated-panel {
	top: 0px;
	height: 25px;
}

#authentication-panel .error-message {
	vertical-align: middle;
	height: 90px;
	text-align: center;

}

button.submit,
#login-link {
	background: none;
	padding: 0;
	font-weight: bold;
	height: auto;
	font-size: 15pt;
}

#login-link {
	margin: 0 10px;
}

#authentication-panel button {
	position: relative;
	top: 1px;
	/*margin: 0;*/
}

#authentication-panel .ui-button {
	background: none;
}

#signout-button {
	margin: -6px 0 0 10px;
}

#authentication-panel .ui-button:hover {
	background: none;
}

#signin-form {
	height: 110px;
}

#signin-form table {
	margin-left: 5px;
}

#signin-form table tr {
	height: 25px;
}

#signin-form .label {
	font-weight: bold;

}

#signin-form input[type=text], #signin-form input[type=password] {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ACE;
	font-size: 8pt;
	padding: 1px;
	width: 160px;
	height: 18px;
	color: #666;
}

#signin-form input[type=password] {
	width: 80px;
}

#forgottenPassword {
	font-size: 7pt;
}

#signin_menu p {
	margin: 0;
}

#signin_menu a {
	color: #6AC;
}

#signin_menu label {
	font-weight: normal;
}

#signin_menu p.complete {
	clear: both;
	margin: 5px 0;
}

#signin_menu p a {
	color: #27B !important;
}

#signin_submit {
	background: none;
	border: none;
	color: #fff;
	padding: 0;
	font-size: 11px;
	font-weight: bold;
}

#signin_submit::-moz-focus-inner {
	padding: 0;
	border: 0;
}

#signin_submit:hover, #signin_submit:focus {
	background-position: 0 -5px;
	cursor: pointer;
}

.link {
	margin-top: 10px;
}

#remember {
	margin-top: 5px;
}

.remember label {
	font-size: 7pt;
}

#registration-link {
	border: none;
	background: none;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	font-size: 15pt;
}

.required-field {
}

form .required-field {
	position: relative;
	top: -5px;
}

.form-field-textinput {
	width: 140px;
}

.role-select-panel {
	width: 490px;
	overflow: hidden;
	padding-bottom: 10px;
}

.role-select-panel .role {
	margin: 10px 0;
	font-size: 9pt;
	float: left;
	width: 30%;
}

.role-select-panel .role input {
	position: relative;
	top: 3px;
	margin-right: 10px;
}

.registration-form table {
	width: 100%;
}

.registration-form table td.label {
	width: 135px;
}

form td {
	position: relative;
}
