h1.my-account {
	margin-bottom: 25px;
}

h1.my-account #username {
	font-style: italic;
}

.user-billing-address-wrapper,
.user-delivery-address-form,
.user-data-wrapper .user-password-form,
.user-data-wrapper .user-data-form {
	width: 46%;
	margin: 0 4% 0 0;
	float: left;
}

.header, .user-password-form {
	position: relative;
}

.user-data-wrapper {
	overflow: hidden;
}

.user-address-wrapper {
	overflow: hidden;
	margin: 10px 0;
}

.user-address select {
	width: 168px;
}

.user-address-form, .user-address-form table {
	height: 100%;
}

.user-details-panel button.edit {
	position: absolute;
	left: 300px;
	top: 0px;
	width: 16px;
	height: 16px;
}

.user-details-panel button.submit {
	position: absolute;
	left: 300px;
	top: 0px;
	width: 16px;
	height: 16px;
}

.user-details-panel button.cancel {
	position: absolute;
	left: 280px;
	top: 0px;
	width: 16px;
	height: 16px;
}

.form-field-label {
	font-size: 8pt;
	padding: 0 5px 0 0;
	width: 100px;
}

.user-details-panel .form-field-textinput {
	width: 160px;
}

.user-address-form {
	min-height: 210px;
	height: 100%;
}

.deliveryAddressActivePane input {
	float: right;
}

.user-details-panel td {
	height: 20px;
	vertical-align: middle;
}

.user-details-panel {
	display: block;
	overflow: hidden;
}

.user-details-panel td#comment {
	vertical-align: top;
}

.user-details-form {
	width: 650px;
	height: 400px;
	overflow-y: auto;
}

.user-data-form {
	width: 46%;
	margin: 0px 4% 15px 0;
}

.user-billing-address-form label.error,
.user-delivery-address-form label.error,
.user-data-wrapper label.error {
	position: relative;
}