#orderDetailWidget h1 {
	text-align: left;
	margin: 5px 0 0;
}

#orderDetailWidget h1 span {
	color: #666666;
	font-size: 8pt;
	margin: 5px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#orderDetailWidget #orderDetails {
	float: left;
	width: 270px;
	margin: 10px 10px 0 0;
}

.product-list .dataTables_wrapper {
	height: 363px;
	position: relative;
}

.dataTables_info {
	position: absolute;
	bottom: -18px;
	left: 300px;
	width: 100px;
}

.product-list .dataTables_info {
	bottom: 5px;
}

.product-list .dataTables_wrapper table td {
	padding: 0;
}

.dataTables_wrapper table {
	margin: 0 0 20px 0;
}

.dataTables_wrapper table.display thead th {
	border: 1px solid transparent;
	border-bottom: 1px solid #ccc;
	width: auto !important;
}

.dataTables_wrapper table.display thead th.sorting_asc,
.dataTables_wrapper table.display thead th.sorting_desc {
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.dataTables_wrapper td {
	text-align: center;
	border: 1px solid transparent;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666666;
}

.dataTables_wrapper table.display tr.even.row_selected td,
.dataTables_wrapper table.display tr.odd.row_selected td {
	background: rgba(127, 127, 127, 0.1);
	color: #333;
	border: 1px dotted #ccc;
	border-width: 1px 0;
}

.dataTables_wrapper tr td.sorting_1 {
	background: rgba(127, 127, 127, 0.1);
	color: #333;
	border-bottom: 1px dotted #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.dataTables_wrapper .sorting_asc {
}

.dataTables_wrapper .sorting_desc {
}

.dataTables_wrapper .paginate_enabled_next {
	padding-top: 2px;
	position: absolute;
	bottom: -23px;
	right: 0px;
}

.product-list .dataTables_wrapper .paginate_enabled_next {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.dataTables_wrapper .paginate_disabled_next {
	display: none;
	position: absolute;
	bottom: -23px;
	right: 0px;
}

.dataTables_wrapper .paginate_enabled_previous {
	padding-top: 2px;
	position: absolute;
	bottom: -23px;
	left: 0px;
}

.product-list .dataTables_wrapper .paginate_enabled_previous {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.dataTables_wrapper .paginate_disabled_previous {
	display: none;
}

.dataTables_wrapper .paginate_disabled_previous a,
.dataTables_wrapper .paginate_enabled_previous a,
.dataTables_wrapper .paginate_disabled_next a,
.dataTables_wrapper .paginate_enabled_next a {
	padding-top: 2px;
}

.dataTables_wrapper tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

.dataTables_wrapper tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

.dataTables_wrapper tr.odd {
	background-color: #F7F8F2;
}

.dataTables_wrapper td img {
	height: 19px;
	border: 1px solid #dedede;
}

#orderDetailWidget > div {
	overflow: hidden;
}

#orderDetailWidget .addresses {
	overflow: hidden;
	margin: 20px 0 0 0;
}

#orderDetailWidget .address {
	float: left;
	width: 48%;
}

#orderDetailWidget {
	color: #333;
	font-size: 8pt;
}

#orderDetailWidget .value {
	color: #666;
}

#orderDetailWidget .order-date.value {
	margin: -3px 0 5px 0;
}

.order-date {
	font-size: 7pt;
	color: #333;
	display: block;
}

#orderDetailWidget .value.WAITING {
	font-weight: bold;
}

#orderDetailWidget .value.IN_PROGRESS {
	font-weight: bold;
}

#orderDetailWidget .value.DELIVERED {
	font-weight: bold;
}
