@font-face {
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-weight: bold;
	font-style: normal;
}

body, table, input, select, textarea, tt {
	font: 10px/130% Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	padding: 0 0 0 2em;
}

html {
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	color: #333333;
	position: relative;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
}

button, .ui-button {
	padding: 3px;
	color: #fff;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0px 1px 1px 0;
}

button:hover, .ui-button:hover {
}

button.ui-state-disabled, button.ui-state-disabled:hover {
	background: #bdbdbd;
	color: #efefef;
}

button.submit {
	height: 30px;
	padding: 3px;
	color: #fff;
	border: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

#basket button {
	width: 123px;
	height: 80px;
	border: none;
	position: relative;
	top: 0px;
	right: 5px;
}

.box {
	margin-bottom: 6px;
	color: #000000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	/*background: url() no-repeat*/
}

.box a:hover {
	text-decoration: underline;
}

.ui-widget-header {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.object-image {
	background: no-repeat center center;
	text-align: center;
	padding: 0 5px;
	border: 1px solid transparent;
}

h1 {
	text-align: center;
	font-size: 20pt;
	font-weight: bold;
	margin: 13px 0;
	line-height: 18pt;
}

h2 {
	font-size: 16pt;
	line-height: 16pt;
}

h3 {
	font-size: 14pt;
	line-height: 14pt;
}

.error-message, #error-message {
	color: #fff;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	position: relative;
	top: -5px;
}

/** initial setup **/
.nano {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nano .content {
	position: absolute;
	overflow: scroll;
	overflow-x: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.nano .content:focus {
	outline: thin dotted;
}

.nano .content::-webkit-scrollbar {
	visibility: hidden;
}

.has-scrollbar .content::-webkit-scrollbar {
	visibility: visible;
}

.nano > .pane {
	background: rgba(0, 0, 0, .25);
	position: absolute;
	width: 10px;
	right: 0;
	top: 0;
	bottom: 0;
	visibility: hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity: .01;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.nano > .pane > .slider {
	background: rgba(0, 0, 0, .5);
	position: relative;
	margin: 0 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.nano:hover > .pane, .pane.active, .pane.flashed {
	visibility: visible\9; /* Target only IE7 and IE8 with this hack */
	opacity: 0.99;
}

.user-data-form-table tbody tr > td {
	position: relative;
	display: block;
	/*height: 20px;*/
	/*width: 125px;*/
	float: left;
}

.user-data-form-table tbody tr > td:first-child {
	width: 125px;
}

.user-data-form-table tbody tr > td label.error {
	position: absolute;
	top: 4px;
	left: 160px;
	width: 200px;
}

label.error {
	height: 20px;
	max-width: 200px;
	min-width: 38px;
	max-width: 200px;
	min-width: 38px;
	padding-left: 25px;
	vertical-align: middle;
	font-style: italic;
	position: absolute;
	line-height: 6pt;
	padding-top: 2px;
}

label.valid {
	display: block;
	height: 20px;
	max-width: 200px;
	min-width: 38px;
	left: 290px;
	max-width: 200px;
	min-width: 38px;
	padding-left: 25px;
	/*position: absolute;*/
	top: 7px;
	vertical-align: middle;
	display: block;
}

.ui-dialog {
	border: 1px solid #dedede;
	background-color: #fff;
}

.gritter-item-wrapper.congratulations .gritter-top {
	background: url(../images/gritter/gritter-light.png) no-repeat left -30px;
}

.gritter-item-wrapper.congratulations .gritter-bottom {
	background: url(../images/gritter/gritter-light.png) no-repeat left bottom;
}

.gritter-item-wrapper.congratulations .gritter-item {
	background: url(../images/gritter/gritter-light.png) no-repeat left -40px;
}

.gritter-image {
	border: 1px solid #cccccc;
	background-color: #fff;
}
