.product-tile {
	background-color: white;
	height: 240px;
	margin: 2px 2px 10px 4px;
	padding: 7px;
	position: relative;
	width: 152px;
	border: 1px solid transparent;
}

.object-image {
	border: 1px solid transparent;
}

.product-tile:hover {
	/*background-color: #f8f8f8;*/
	/*border-radius: 5px;*/
	/*border:1px solid #ededed;*/
	height: 240px;
	margin: 2px 2px 10px 4px;
	padding: 7px;
	position: relative;
	width: 152px;
}

.product-tile:hover .object-image {
	/*border: 1px solid #ededed;*/
	/*background-color: #fff;*/
}

.single-product {
	float: left;
}

.product-tile .image {
	width: 154px;
	height: 112px;
	text-align: center;
	cursor: pointer;
}

.product-tile img {
	border: none;
}

.product-tile-view table {
	margin: 0 auto;
}

.productDetail .product-price {
	margin-top: 10px;
}

.product-price .price-value {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Arial black', Gadget, sans-serif;
	height: 20px;
}

.product-price .price-title {
	text-align: center;
	font-size: 8px;
	height: 20px;
}

.product-price.amount-3 .column-1,
.product-price.amount-3 .column-2,
.product-price.amount-3 .column-3 {
	float: left;
	width: 33%;
}

.product-price.amount-2 .column-1,
.product-price.amount-2 .column-2 {
	float: left;
	width: 50%;
}

.product-price .column-1.last {
	float: none;
	width: 100%;
	text-align: center;
}

.product-tile a {
	text-decoration: none;
}

.product-tile .title h3 {
	text-align: center;
	height: 80px;
}

.product-tile:hover {
}

.product-tile .title a {
	color: #ED2481;
	text-align: center;
	text-decoration: none;
}

.product-tile table {
	width: 100%;
	/*padding-top: 6px;*/
	padding: 0;
	border-collapse: collapse;
}

.product-tile .wizard-dialog-panel {
	position: absolute;
	top: 160px;
	z-index: 100;
	width: 142px;
	line-height: 55px;
	padding-left: 10px;
	height: 50px;
	display: none;
}

.product-tile .wizard-dialog-panel .basket-input {
	height: 20px;
}

.product-tile .product-description {
	background: #ED2481 no-repeat scroll 0 0;
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	padding: 15px 10px 10px 10px;
	position: absolute;
	width: 130px;
	z-index: 1;
}

.close-description {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background: none;
	width: 22px;
	height: 22px;
}

.product-tile .product-description:hover .close-description {
}

.product-detail table {
	width: 100%;
}

#productDetail .object-image {
	padding: 10px 10px 10px 10px;
	background-position: left center;
}

.product-detail .image {
	width: 210px;
	height: 210px;
}

.product-detail .details {
	padding-top: 15px;
	padding-right: 15px;
	width: 400px;
}

.product-detail .actions {
	position: relative;
}

.product-price, .add-to-basket {
	background: none repeat scroll 0 0 #F6F6F6;
	border-radius: 5px;
	height: 45px;
	overflow: hidden;
	border: 1px solid #EDEDED;
	padding: 5px 0 0 0;
	width: 150px;
	position: relative;
}

.add-to-basket {
	position: absolute;
	bottom: -53px;
}

.add-to-basket input {
	width: 30px;
	margin: -2px 0 0 5px;
}

.add-to-basket button {
	display: block;
	width: auto;
	margin: 4px 0 0 5px;
}

.column-1 {
}

.column-2 {
}

.column-3 {
}

.productDetail {
	width: 100%;
}

.product-detail .product-price .price-value {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Arial black', Gadget, sans-serif;
}

.product-detail .product-price .price-title {
	text-align: center;
	font-size: 8px;
}

.productDetail .image {
	float: left;
	width: 35%;
}

.productDetail .text {
	float: left;
	width: 65%;
}

.productDetail h1 {
	text-align: left;
	margin-left: 0;
}

.productDetail .productCode {
	font-style: italic;
}

.productDetail .productShortDesc {
	margin-top: 10px;
}

/* PRODUCT DIALOG */

.ui-dialog .ui-dialog-title {
	font-size: 14pt;
}

/* END OF PRODUCT DIALOG */
